<div class="container">
  <div class="card">
    <div class="card-header">
      <h1>Convertidor de monedas</h1>
    </div>
    <div class="card-body">
      <div class="container">
        <div class="row">
          <form class="form-vertical" >
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                id="floatingSelect"
                min="1"
                placeholder="Ingrese un monto"
                [(ngModel)]="amount"
                [ngModelOptions]="{standalone: true}">
              <select class="form-select" #origen (change)="updateOrigin($event)">
                <option value="default">---</option>
                <option *ngFor="let item of origin" [value]="item.name" value="{{selectedOrigin}}">{{item.name}}</option>
              </select>
              <select class="form-select" #destino (change)="updateFate($event)">
                <option value="default">---</option>
                <option *ngFor="let item of fate" [value]="item.name" value="{{selectedFate}}">{{item.name}}</option>
              </select>
            </div>
          </form>
          <div>
            <button type="button" class="btn btn-outline-primary" (click)="currencyCurrent();">Iniciar</button>
          </div>
          <div>
            <p>El resultado es: {{response.resultado}}</p>
            <p>El tipo de cambio es: {{response.tipo}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
